Makefile.in
.anjuta*
Debug
install-sh
ltmain.sh
missing
*.pc
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
*.anjuta
Makefile
config.*
libtool
.deps
.libs
*.lo
*.la
stamp-h1
*.o
test/serialize-test
test/servertest
